node_modules/
dist/
dist-ssr/
*.local
*.log
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large media files
*.mov
*.mp4
*.avi
